<h1>Add a new comedian:</h1>
<form action="/comedians" method="post">
  <input type="text" name="comedian[name]" placeholder="Name" required>
  <input type="text" name="comedian[age]" placeholder="Age" required>
  <input type="text" name="comedian[birthplace]" placeholder="City" required>
  <input type="submit" value="Submit">
</form>
